@charset "utf-8";
/* CSS Document */
#primary_row_01 {
	background-color: #87fb81;
	float: left;
	height: 31px;
	width: 600px;
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#primary_row_02 {
	background-color: #caf964;
	float: left;
	height: 31px;
	width: 600px;
}
#primary_row_03 {
	background-color: #f9f764;
	height: 31px;
	width: 600px;
	float: left;
}
#primary_row_04 {
	background-color: #fffc22;
	float: left;
	height: 31px;
	width: 600px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-bottom: 2px;
}
#primary_row_05 {
	background-color: #1dff5d;
	float: left;
	height: 31px;
	width: 598px;
 	/*margin-top: 10px;*/
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #9d9d9d;
	border-right-color: #9d9d9d;
	border-left-color: #9d9d9d;
}
#messagesBar {
	background-color: #087300;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 21px;
	width: 598px;
	float: left;
	text-align: center;
	padding-top: 7px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4f6276;
	border-right-color: #4f6276;
	border-bottom-color: #4f6276;
	border-left-color: #4f6276;
	margin-bottom: 3px;
}
#row1 {
	width: 109px;
	height: 26px;
	float: left;
	padding-top: 5px;
	background: #87fb81;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #9d9d9d;
	border-right-color: #9d9d9d;	
}
#row2 {
	width: 109px;
	height: 26px;
	float: left;
	padding-top: 5px;
	background: #caf964;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #9d9d9d;
	border-right-color: #9d9d9d;	
}
#row3 {
	width: 109px;
	height: 26px;
	float: left;
	padding-top: 5px;
	background: #f9f764;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #9d9d9d;
	border-right-color: #9d9d9d;	
}
#row4 {
	width: 109px;
	height: 26px;
	float: left;
	padding-top: 5px;
	background: #fffc22;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #9d9d9d;
	border-right-color: #9d9d9d;
}
#row5 {
	width: 109px;
	height: 26px;
	float: left;
	padding-top: 5px;
	background: #1dff5d;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #9d9d9d;
	border-right-color: #9d9d9d;	
}
.topNavLinks {
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 400;
	color: #666666;
	text-decoration: none;
}
.topNavLinks:hover {
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 400;
	color: #666666;
	text-decoration: underline;
}
#page_select_home {
	font-size: 10px;
	line-height: 10px;
	position: absolute;	
	top: 142px;
	left: -13px;
	z-index: 100;
	width: 10px;
	height: 48px;	
}
#page_select_edit_mode {
	font-size: 10px;
	line-height: 10px;
	position: absolute;	
	top: 190px;
	left: 8px;
	z-index: 300;
	width: 10px;
	height: 48px;	
}
.page_nav {
	margin-bottom: 2px;
	padding-left: 1px;
	padding-top: 1px;
	float: left;
	width: 7px;
	height: 11px;
	border: 1px solid #666666;
	background-color: #087300;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
}
.page_nav:hover {
	margin-bottom: 2px;
	padding-left: 1px;
	padding-top: 1px;
	float: left;
	width: 7px;
	height: 11px;
	border: 1px solid #666666;
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #087300;
	text-decoration: none;			
}
.page_nav_selected {
	margin-bottom: 2px;
	padding-left: 1px;
	padding-top: 1px;
	float: left;
	width: 7px;
	height: 11px;
	border: 1px solid #666666;
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #087300;
	text-decoration: none;
}